@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  background-color: #1e134e;
  animation: gradient 15s ease infinite;
  margin: 0px;
  padding: 0px;
  background-size: 400% 400%;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
/* Slideshow container */
.slideshow-container {
  width: 50%;
  position: relative;
  margin: auto;
  margin-top: 5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.addOnsMobile {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.packages-mobile {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#brand {
  font-weight: bold;
  font-size: 250%;
  display: flex;
  align-items: center;
}
#brand a {
  color: #f703ff;
  font-family: "Monoton", cursive;
  letter-spacing: 0.1em;
  animation: glow 1s ease-in infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #f703ff, 0 0 12px #f703ff,
      0 0 18px #f703ff, 0 0 24px #f703ff, 0 0 30px #f703ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 16px #f703ff, 0 0 24px #f703ff,
      0 0 36px #f703ff, 0 0 48px #f703ff, 0 0 60px #f703ff;
  }
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quantity {
  color: white;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
}

ul a {
  color: white;
}

ul > li {
  padding: 5px;
  position: relative;
}
.ProductName {
  flex-grow: 2;
}
.lineItem {
  background-color: red;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  justify-content: flex-end;
  width: 100%;
  background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
    linear-gradient(to right, #f703ff, #ae02fd) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  height: auto;
  border-radius: 50px;
  padding: 20px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.addoncontainer {
  text-align: center;
  background-color: red;
  display: flex;
  width: 100%;
  background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
    linear-gradient(to right, #f703ff, #ae02fd) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  height: auto;
  border-radius: 50px;
  padding: 20px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}
.totalContainer {
  background-color: red;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  justify-content: flex-end;
  width: 100%;
  background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
    linear-gradient(to right, #f703ff, #ae02fd) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  height: auto;
  border-radius: 50px;
  padding: 20px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.totalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lineItemContainer {
  background-color: red;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: flex-start;
  width: 100%;
  background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
    linear-gradient(to right, #f703ff, #ae02fd) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  height: auto;
  border-radius: 50px;
  padding: 20px;
  min-height: 10em;
}
.packagesAndPriceContainer {
  display: flex;
  flex-direction: row;
}

ul > li > span {
  color: white;
  background-color: red;
  border: red;
  border-radius: 50%;
}

ul > li:not(.quantity):hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

ul a:hover {
  color: #f703ff;
  transition: 0.3s ease-in;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  position: absolute;
  padding-left: 80%;
  padding-top: 5%;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  height: calc(100vh - 75px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  backdrop-filter: blur(100px);
  z-index: 9998;
}

.mobile-menu li {
  margin-bottom: 0px;
  text-align: center;
  background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
    linear-gradient(to right, #f703ff, #ae02fd) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  width: 25%;
  margin: 2%;
}

.mobile-menu a {
  color: black;
  display: block;
}

.btn {
  background: #dc1ce3;
  background-image: -webkit-linear-gradient(top, #dc1ce3, #a71ce8);
  background-image: -moz-linear-gradient(top, #dc1ce3, #a71ce8);
  background-image: -ms-linear-gradient(top, #dc1ce3, #a71ce8);
  background-image: -o-linear-gradient(top, #dc1ce3, #a71ce8);
  background-image: linear-gradient(to bottom, #dc1ce3, #a71ce8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  text-decoration: none;
}

.btn:hover {
  background: #f703ff;
  background-image: -webkit-linear-gradient(top, #f703ff, #ae02fd);
  background-image: -moz-linear-gradient(top, #f703ff, #ae02fd);
  background-image: -ms-linear-gradient(top, #f703ff, #ae02fd);
  background-image: -o-linear-gradient(top, #f703ff, #ae02fd);
  background-image: linear-gradient(to bottom, #f703ff, #ae02fd);
  text-decoration: none;
  cursor: pointer;
}
.packages-containermobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .contact-information {
    font-weight: 500;
    font-size: small;
  }
  .arrowcontainer {
    margin: auto;
    position: relative;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .packages-container {
    display: none;
  }
  .packages {
    display: none;
  }
  .packages-mobile {
    display: flex;
  }
  .packageRight {
    display: flex;
    flex-direction: column-reverse; /* Arrange children in a column */
    justify-content: flex-start;
  }
  .exteriorAdOn {
    background: linear-gradient(#00ffff, rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 90%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    font-size: 12px;
  }
  .addOnsMobile {
    display: flex;
    flex-direction: column;
  }
  .addOns {
    display: none;
  }
  .circleImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 75%;
    margin: auto;
    margin-top: 20%;
    /* Additional styling properties */
    background-color: red; /* Just for illustration purposes */
  }

  .table-title-container {
    color: black;
    text-align: center;
    margin-top: 5%;
    border: 4px solid transparent;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Increase the padding to make the box taller */
    height: 120px; /* Increase the height to the desired value */
    margin-bottom: 5%;
    margin-top: 5%;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border: 4px solid transparent;
    border-radius: 50px;
    margin: 5%;
  }

  .detail-table td,
  .detail-table th {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }

  .detail-table th {
    vertical-align: bottom;
  }

  .table-container {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border: 4px solid transparent;
    border-radius: 50px;
    margin: 5%;
  }
  .detail-table {
    margin: auto;
    width: 80%;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  header nav {
    display: none;
  }
  #brand {
    font-size: 30px;
  }

  #hamburger-icon {
    display: block;
    z-index: 9999;
  }
  .slideshow-container {
    width: 75%;
  }

  .exterior {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 89, 255)) padding-box,
      linear-gradient(to right, #f703ff, #9900ff) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 75%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 5%;
    margin: 5% auto;
    margin-top: 20%;
    margin-bottom: -10%;
    flex: 1;
  }

  .exterior img {
    width: 50%;
  }

  .exterior .features li {
    margin-top: 2%;
    text-align: center;
  }

  .Featuretext span {
    font-weight: bold;
    text-decoration: underline;
  }

  .features img {
    max-width: 50%;
    height: auto;
  }

  .features {
    margin-top: 20px;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
  }

  .Featuretext {
    text-align: center;
  }

  .exterior p {
    margin-top: 2%;
    text-align: center;
    font-size: 95%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 75%;
    margin: auto;
    margin-top: 30%;
  }

  .btn {
    background: #d916e0;
    background-image: -webkit-linear-gradient(top, #d916e0, #a719e8);
    background-image: -moz-linear-gradient(top, #d916e0, #a719e8);
    background-image: -ms-linear-gradient(top, #d916e0, #a719e8);
    background-image: -o-linear-gradient(top, #d916e0, #a719e8);
    background-image: linear-gradient(to bottom, #d916e0, #a719e8);
    -webkit-border-radius: 45;
    -moz-border-radius: 45;
    border-radius: 45px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 2%;
  }

  .btn:hover {
    background: #f703ff;
    background-image: -webkit-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -moz-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -ms-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -o-linear-gradient(top, #f703ff, #ae02fd);
    background-image: linear-gradient(to bottom, #f703ff, #ae02fd);
    text-decoration: none;
  }

  .schedule-button {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    padding: 25% 50%;
  }

  .schedule-header {
    color: black;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 1%;
    font-weight: bold;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 5%;
  }

  .contact-header {
    color: white;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 1%;
  }
  .btnSmaller {
    margin-top: 5%;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contacts {
    color: black;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the box horizontally */
    padding: 20px;
  }

  #gageinfo {
    font-weight: 250;
  }
  #patinfo {
    font-weight: 250;
  }

  .packages-containermobile {
    background: linear-gradient(#00ffff, rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 93%;
    height: 100px;
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: auto;
    margin-top: 20%;
  }
  .Featuretext span {
    font-weight: bold;
    text-decoration: underline;
  }

  .Featuretext {
    text-align: center;
  }

  .pictures {
    width: 100%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20%;
  }
  .blazerpictures {
    width: 100%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20%;
  }
}

@media only screen and (min-width: 601px) {
  .contact-information {
    font-weight: bold;
    font-size: large;
  }
  .blazerpictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
  }

  .blazerpictures img {
    width: 75%;
    height: auto;
  }
  .packageLeft {
    width: 75%;
  }
  .addsoncontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
  }
  .addonButton {
    background: #d916e0;
    background-image: -webkit-linear-gradient(top, #d916e0, #a719e8);
    background-image: -moz-linear-gradient(top, #d916e0, #a719e8);
    background-image: -ms-linear-gradient(top, #d916e0, #a719e8);
    background-image: -o-linear-gradient(top, #d916e0, #a719e8);
    background-image: linear-gradient(to bottom, #d916e0, #a719e8);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding: 7px;
  }
  .addonButton:hover {
    background: #f703ff;
    background-image: -webkit-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -moz-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -ms-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -o-linear-gradient(top, #f703ff, #ae02fd);
    background-image: linear-gradient(to bottom, #f703ff, #ae02fd);
    text-decoration: none;
  }
  .addon {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    align-items: center;
    margin-top: 1%;
  }
  .packageRight {
    width: 30%;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: flex-start;
    position: absolute;
    margin-left: 60%;
  }

  .packagesOuter {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr; /* 1fr means one fraction of the available space */
    grid-template-columns: 2.5fr 1fr; /* Responsive columns */
    gap: 20px; /* Gap between grid items */
    margin-top: 7%;
  }

  .pictures {
    margin-top: 5%;
  }
  .circleImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25%;
    margin: auto;
    margin-top: 5%;
    /* Additional styling properties */
    background-color: red; /* Just for illustration purposes */
  }

  .table-title-container {
    color: black;
    text-align: center;
    border: 4px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Increase the padding to make the box taller */
    height: 120px; /* Increase the height to the desired value */
    margin: 2%;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border: 4px solid transparent;
    border-radius: 50px;
  }

  .detail-table td,
  .detail-table th {
    padding: 12px;
    text-align: center;
    font-weight: bold;
  }

  .detail-table th {
    vertical-align: bottom;
    font-size: large;
    text-decoration: underline;
  }

  .table-container {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border: 4px solid transparent;
    border-radius: 50px;
    margin: 5%;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .detail-table {
    margin: auto;
    width: 80%;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .select {
    position: relative;
    display: inline-block;
    width: 20%;
    justify-content: space-between;
  }
  .select select {
    font-family: "Arial";
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 9px 18px;
    outline: 0;
    border: 2px solid #f703ff;
    border-radius: 31px;
    background: #00ffff;
    color: #000000;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select select::-ms-expand {
    display: none;
  }
  .select select:hover,
  .select select:focus {
    color: #000000;
    background: #00ffff;
  }
  .select select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .select_arrow {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .select select:hover ~ .select_arrow,
  .select select:focus ~ .select_arrow {
    border-color: #000000;
  }
  .select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
  }

  .packages-container {
    background: linear-gradient(#00ffff, rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 93%;
    height: 100px;
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: auto;
  }
  .exteriorAdOn {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 90%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    margin-top: 2%;
  }
  .addOns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .packagesheader {
    color: black;
    text-align: center;
  }

  .packages {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 2%;
  }

  .exterior {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 89, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 25%;
    height: auto;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
  }

  .exterior img {
    width: 50%;
    margin-bottom: 5%;
  }

  #bigger {
    width: 50%;
    margin-bottom: 5%;
  }

  #vacuum {
    width: 50%;
    margin-bottom: 5%;
  }

  .exterior {
    text-align: center;
  }

  .features .text span {
    font-weight: bold;
    text-decoration: underline;
  }

  .exterior .features li {
    margin-top: 2%;
    text-align: center;
  }

  .Featuretext span {
    font-weight: bold;
    text-decoration: underline;
  }

  .features img {
    max-width: 50%;
    height: auto;
  }
  .featuresAdOn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    font-weight: 500;
  }

  .Featuretext {
    text-align: center;
    font-weight: 500;
  }

  .exterior {
    margin-top: 2%;
    text-align: center;
    font-size: 95%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }
  .btnSmallerCart {
    background: #d916e0;
    background-image: -webkit-linear-gradient(top, #d916e0, #a719e8);
    background-image: -moz-linear-gradient(top, #d916e0, #a719e8);
    background-image: -ms-linear-gradient(top, #d916e0, #a719e8);
    background-image: -o-linear-gradient(top, #d916e0, #a719e8);
    background-image: linear-gradient(to bottom, #d916e0, #a719e8);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 2%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btnSmallerCart:hover {
    background: #f703ff;
    background-image: -webkit-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -moz-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -ms-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -o-linear-gradient(top, #f703ff, #ae02fd);
    background-image: linear-gradient(to bottom, #f703ff, #ae02fd);
    text-decoration: none;
  }

  .schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 75%;
    margin: auto;
    margin-top: 5%;
  }
  .btn,
  .btnSmaller {
    background: #d916e0;
    background-image: -webkit-linear-gradient(top, #d916e0, #a719e8);
    background-image: -moz-linear-gradient(top, #d916e0, #a719e8);
    background-image: -ms-linear-gradient(top, #d916e0, #a719e8);
    background-image: -o-linear-gradient(top, #d916e0, #a719e8);
    background-image: linear-gradient(to bottom, #d916e0, #a719e8);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 40px;
    text-decoration: none;
    margin: auto;
  }

  .btn:hover,
  .btnSmaller:hover {
    background: #f703ff;
    background-image: -webkit-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -moz-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -ms-linear-gradient(top, #f703ff, #ae02fd);
    background-image: -o-linear-gradient(top, #f703ff, #ae02fd);
    background-image: linear-gradient(to bottom, #f703ff, #ae02fd);
    text-decoration: none;
  }
  .btnSmaller {
    padding: 10px 20px;
  }

  .schedule-button {
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    padding: 25% 50%;
  }

  .schedule-header {
    color: black;
    font-size: 48px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 1%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 50%;
    margin: auto;
    margin-top: 5%;
  }

  .contact-header {
    color: black;
    font-size: 48px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 1%;
  }

  .contacts-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1%;
  }

  .contacts {
    color: black;
    background: linear-gradient(rgb(0, 255, 255), rgb(0, 255, 255)) padding-box,
      linear-gradient(to right, #f703ff, #ae02fd) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    width: 300px;
    padding: 10px;
  }

  .contacts > h2 {
    margin-top: 0;
  }

  .contacts > p {
    margin-bottom: 0;
  }

  #gageinfo {
    font-weight: 500;
  }
  #patinfo {
    font-weight: 500;
  }
}
